<a href="https://colab.research.google.com/github/Rishabh242002/Electricity_theft_detection/blob/main/Data_Preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/henryRDlab/ElectricityTheftDetection.git

Cloning into 'ElectricityTheftDetection'...
remote: Enumerating objects: 58, done.
remote: Total 58 (delta 0), reused 0 (delta 0), pack-reused 58
Unpacking objects: 100% (58/58), 50.07 MiB | 10.98 MiB/s, done.

# New Section

In [ ]:
%cd /content/drive/MyDrive/ManojSirIntern

/content/drive/.shortcut-targets-by-id/1mgTodgMFbBS4X14xMAg5ZQlr-qcSocCx/ManojSirIntern

In [ ]:
!zip -F data.zip --out res.zip
!unzip res.zip

Fix archive (-F) - assume mostly intact archive
	zip warning: No .zip file found
        (If all you have are splits (.z01, .z02, ...) and no .zip, try -FF)
zip I/O error: No such file or directory
zip error: File not found or no read permission (data.zip)
unzip:  cannot find or open res.zip, res.zip.zip or res.zip.ZIP.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!ln -s /content/drive/My\ Drive/ /mydrive
#/mydrive/ManojSirIntern/data.csv

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ManojSirIntern/data.csv')

In [ ]:
df

,CONS_NO,FLAG,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,9E726157C304B05D0057FCA8EF4A0DE4,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,6B748296C244E9AC3F80A61D859BE74E,0,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,038BAAC5F0A7AFA46BAAC8CB76E77C67,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,C4D81686BEF24091C802E6C38C4166C4,0,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,7036AB09F285712679AE85BC18191B64,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Y = df['FLAG']
df.drop(['CONS_NO','FLAG'],axis=1,inplace= True)

In [ ]:
df[27580:]

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
27580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.46,8.67,12.55,6.72,12.67,14.82,15.20,12.92,11.92,11.35
27581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,3.57,1.39,4.06,1.25,2.80,1.35,1.53,1.32,0.55
27582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.57,23.95,17.46,29.68,24.87,24.50,24.72,20.42,18.93
27583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.60,107.04,31.67,93.07,26.28,150.26,136.76,116.00,124.84,106.00
27584,2.22,2.56,4.21,2.65,2.97,2.98,2.60,3.36,2.93,5.71,...,2.23,3.52,2.50,3.27,2.94,2.91,2.91,2.97,2.68,2.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isna().sum()

2014/1/1     13181
2014/1/10    13144
2014/1/11    13145
2014/1/12    13144
2014/1/13    13143
             ...
2016/9/5       419
2016/9/6       440
2016/9/7       350
2016/9/8       286
2016/9/9       298
Length: 1034, dtype: int64

In [ ]:
next(df.iterrows())[1]

2014/1/1       NaN
2014/1/10      NaN
2014/1/11      NaN
2014/1/12      NaN
2014/1/13      NaN
             ...
2016/9/5     18.05
2016/9/6     26.47
2016/9/7     18.75
2016/9/8     17.84
2016/9/9     14.92
Name: 0, Length: 1034, dtype: float64

In [ ]:
import csv

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

for index, row in df[0:27580].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/'+'output.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

KeyboardInterrupt: ignored

In [ ]:

for index, row in df[27580:].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/'+'output1.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
y = pd.DataFrame(Y)

In [ ]:
y.to_csv('/content/drive/MyDrive/y.csv')

In [ ]:
output_dir = '/content/drive/MyDrive/'+'output.txt'

In [ ]:
data = pd.read_csv(output_dir, sep=" ", header=None)
#data.columns = ["a", "b", "c", "etc."]

In [ ]:
data= data[0:27580]
data

In [ ]:
output_dir = '/content/drive/MyDrive/'+'output1.txt'
data1 = pd.read_csv(output_dir, sep=" ", header=None)

In [ ]:
data1 = data1[0:6261]

In [ ]:
data1

In [ ]:
data_final = pd.concat([data,data1])

In [ ]:
data_final

In [ ]:
y = np.array(y)

In [ ]:
y.shape

In [ ]:
data_final['OutPut'] = y

In [ ]:
data_final

In [ ]:
dt = data_final

In [ ]:
idx = []
for i in range(len(dt)):
  idx.append(i)

In [ ]:
import numpy as np

In [ ]:
dt.set_index(np.array(idx),inplace=True)

In [ ]:
dt.to_csv('/content/drive/MyDrive/data_final.csv')

In [ ]:
load_data = pd.read_csv('/content/drive/MyDrive/data_final.csv')

In [ ]:
load_data

#Normalised Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_final.csv')
df.drop(['Unnamed: 0'],axis =1,inplace=True)
Y = df['OutPut']
df.drop(['OutPut'],axis=1,inplace=True)

In [ ]:
mt = np.array(df)
mt.shape

In [ ]:
for i in range(len(mt)):
  mx = mt[i].max()
  mn = mt[i].min()
  if( (mx-mn)==0):
    continue
  for j in range(len(mt[i])):
    mt[i][j] = (mt[i][j]-mn)/(mx-mn)

In [ ]:
data = pd.DataFrame(mt)
data

In [ ]:
data['OutPut'] = Y

In [ ]:
data.to_csv('/content/drive/MyDrive/Normalised_data_final.csv')